In [41]:
import pandas as pd
import numpy as np

## Import Dataset

In [42]:
fake=pd.read_csv("C:\\Users\\manas\\OneDrive\\Desktop\\Fake.csv")
true=pd.read_csv("C:\\Users\\manas\\OneDrive\\Desktop\\True.csv")

In [43]:
fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [44]:
true.head(5)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

## Insert new column 'type'

In [45]:
fake['type']=0
true['type']=1

In [46]:
fake.shape,true.shape

((23481, 5), (21417, 5))

In [47]:
# remove last news from both table for manual test
fake_mt=fake.tail(1)
true_mt=true.tail(1)
fake.drop([23480],axis=0,inplace=True)
true.drop([21416],axis=0,inplace=True)

In [48]:
fake_mt

,title,text,subject,date,type
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [49]:
true_mt

,title,text,subject,date,type
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [50]:
manual_test=pd.concat([fake_mt,true_mt],axis=0)

## Merge Two dataframes

In [51]:
news=pd.concat([fake,true],axis=0)
news.head()

,title,text,subject,date,type
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

## Remove Columns which are not requires

In [52]:
news.columns

Index(['title', 'text', 'subject', 'date', 'type'], dtype='object')

In [53]:
news=news.drop(['title','subject','date'],axis=1)

In [54]:
news.isnull().sum()

text    0
type    0
dtype: int64

## Shuffle rows

In [55]:
news=news.sample(frac=1)

In [56]:
news.head(20)

                                                    text  type
1666   Recently, Donald Trump became the second major...     0
17386  MANILA (Reuters) - The Philippines  military c...     1
13334  ISTANBUL/ANKARA (Reuters) - Turkey cast the te...     1
6066   It doesn t seem to matter what it is, if the N...     0
1764   Trump s loyalty to Vladimir Putin is being tes...     0
18130  BEIRUT (Reuters) - The Syrian military has cle...     1
21860  Everyone s been asking where the Hillary van i...     0
15156  LONDON (Reuters) - Prime Minister Theresa May ...     1
7121   MILWAUKEE (Reuters) - Republicans in Wisconsin...     1
1675   Caitlyn Jenner is not afraid to speak her mind...     0
8807   BEIJING (Reuters) - European Trade Commissione...     1
11235  Trump compared the ongoing narrative to the sa...     0
13749  THE ARTICLE BELOW IS FROM POLITICO   This arti...     0
7125   It s become increasingly common among Republic...     0
7121   Bernie Sanders is not one to mince words when ...     0
17314  ISLAMABAD (Reuters) - Afghanistan, China, Paki...     1
19425  MADRID/BARCELONA (Reuters) - The Catalan regio...     1
15401  Funny how Boehner gets so choked up over the l...     0
21442  Try telling a young black girl she can t wear ...     0
8817   RAF FAIRFORD, England (Reuters) - The U.S. Dep...     1

In [57]:
news.reset_index(inplace=True)

In [58]:
news

       index                                               text  type
0       1666  Recently, Donald Trump became the second major...     0
1      17386  MANILA (Reuters) - The Philippines  military c...     1
2      13334  ISTANBUL/ANKARA (Reuters) - Turkey cast the te...     1
3       6066  It doesn t seem to matter what it is, if the N...     0
4       1764  Trump s loyalty to Vladimir Putin is being tes...     0
...      ...                                                ...   ...
44891   2053  The overwhelming response to her temper tantru...     0
44892  14902  When we found this insane article on the Occup...     0
44893  14996  TOKYO (Reuters) - Japan will delay a decision ...     1
44894   8271  (Reuters) - Hillary Clinton, the Democratic Pa...     1
44895   3516  WASHINGTON (Reuters) - U.S. President Donald T...     1

[44896 rows x 3 columns]

In [59]:
news.drop('index',axis=1,inplace=True)

In [60]:
news

                                                    text  type
0      Recently, Donald Trump became the second major...     0
1      MANILA (Reuters) - The Philippines  military c...     1
2      ISTANBUL/ANKARA (Reuters) - Turkey cast the te...     1
3      It doesn t seem to matter what it is, if the N...     0
4      Trump s loyalty to Vladimir Putin is being tes...     0
...                                                  ...   ...
44891  The overwhelming response to her temper tantru...     0
44892  When we found this insane article on the Occup...     0
44893  TOKYO (Reuters) - Japan will delay a decision ...     1
44894  (Reuters) - Hillary Clinton, the Democratic Pa...     1
44895  WASHINGTON (Reuters) - U.S. President Donald T...     1

[44896 rows x 2 columns]

## Process text

In [61]:
import re
import string
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [62]:
news['text']=news['text'].apply(wordopt)

## creating dependent and independent variables

In [63]:
x=news['text']
y=news['type']

## Splitting Dataset

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
x_t,x_te,y_t,y_te=train_test_split(x,y,test_size=0.25)

## Convert text to vector

In [66]:
from sklearn.feature_extraction.text import TfidfVectorizer
vect=TfidfVectorizer()
xv_t=vect.fit_transform(x_t)
xv_te=vect.transform(x_te)

In [81]:
xv_t

<33672x95002 sparse matrix of type '<class 'numpy.float64'>'
	with 6892424 stored elements in Compressed Sparse Row format>

## Logistic Regression

In [67]:
from sklearn.linear_model import LogisticRegression
l=LogisticRegression()
l.fit(xv_t,y_t)

LogisticRegression()

In [68]:
pred_l=l.predict(xv_te)

In [69]:
l.score(xv_te,y_te)

0.9864575908766928

In [70]:
from sklearn.metrics import classification_report
print(classification_report(y_te,pred_l))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      5868
           1       0.99      0.99      0.99      5356

    accuracy                           0.99     11224
   macro avg       0.99      0.99      0.99     11224
weighted avg       0.99      0.99      0.99     11224

## Decision Tree Classification

In [71]:
from sklearn.tree import DecisionTreeClassifier
d=DecisionTreeClassifier()
d.fit(xv_t,y_t)

DecisionTreeClassifier()

In [72]:
pred_d=d.predict(xv_te)

In [73]:
d.score(xv_te,y_te)

0.9958125445473984

In [74]:
print(classification_report(y_te,pred_d))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      5868
           1       1.00      1.00      1.00      5356

    accuracy                           1.00     11224
   macro avg       1.00      1.00      1.00     11224
weighted avg       1.00      1.00      1.00     11224

## Run Model

In [75]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "Not A Fake News"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    new_xv_test = vect.transform(new_x_test)
    pred_LR = l.predict(new_xv_test)
    pred_DT = d.predict(new_xv_test)
    

    print("LR Prediction:",output_lable(pred_LR[0]),"\nDt Prediction:",output_lable(pred_DT[0]))

In [76]:
manual_test.text[23480]

'21st Century Wire says As 21WIRE predicted in its new year s look ahead, we have a new  hostage  crisis underway.Today, Iranian military forces report that two small riverine U.S. Navy boats were seized in Iranian waters, and are currently being held on Iran s Farsi Island in the Persian Gulf. A total of 10 U.S. Navy personnel, nine men and one woman, have been detained by Iranian authorities. NAVY STRAYED: U.S. Navy patrol boat in the Persian Gulf (Image Source: USNI)According to the Pentagon, the initial narrative is as follows: The sailors were on a training mission around noon ET when their boat experienced mechanical difficulty and drifted into Iranian-claimed waters and were detained by the Iranian Coast Guard, officials added. The story has since been slightly revised by White House spokesman Josh Earnest to follow this narrative:The 2 boats were traveling en route from Kuwait to Bahrain, when they were stopped and detained by the Iranians.According to USNI, search and rescue teams from the Harry S. Truman Strike group were scrambled to aid the crew but stopped short after the crew was taken by the Iranians. We have been in contact with Iran and have received assurances that the crew and the vessels will be returned promptly,  Pentagon spokesman Peter Cook told AP. According to Persian Gulf TV: Farsi Island is one of the Iranian islands in the Persian Gulf, Bushehr province of Iran. There is an IRGC Navy base on this Island. The island has an area of about 0.25 km  and is completely restricted to public, due to top secret governmental activities. According to NBC News, U.S. State Department is in touch with Tehran officials and the Iranians recognize that the U.S. Navy straying off course was a mistake, and that the sailors will be released  within hours.  WAR INC: CNN s Wolf Blitzer wasted no time in ramping-up talk of military tension with Israeli-financed neocon Senator Tom Cotton.Neocon StuntAlready, the U.S. media, including CNN and FOX, are running with the talking point that,  this could not have come at a worse time for President Obama right before tonight s State Of Union speech, when he s trying to prove to the American people that Iran is a country that can be trusted to implement the historic nuclear deal. This latest Naval  controversy  also comes days before the implementation phase of the Iran Nuclear Deal. To say this is a coincidence might be naive.That said, could GOP and Israel-aligned members of the Pentagon or intelligence establishment have helped to engineer today s bizarre  mini-crisis  in order to help weaken U.S.-Iran relations, and by extension, Obama s controversial Iranian Nuclear Deal?This looks likely to be the case, as evidenced by the quick appearance of the Israel Lobby-sponsored, pro-war U.S. Senator Tom Cotton (R), placed by CNN to direct aggressive U.S. military talking points live on air as the story broke today. Cotton (photo, left) immediately called the event  hostile  and blamed Iran for the U.S. boat drifting into Iranian waters, and then blamed the  crisis  on President Obama, who he claims,  has emboldened the Iranian aggression. Cotton then goes on to tell a giant lie, on which his media handler, CNN s Wolf Blitzer, does not even blink, much less challenge Cotton s imaginary statement: The Iranians, who are largely responsible for killing our (American) soldiers in Iraq and Afghanistan. Cotton then went on to threaten Iran, saying that: These sailors and both vessels  need to be immediately released. If they are not released, then the Iran (nuclear) deal should not go forward, and military force will be on the table to retaliate for this act of aggression.  Cotton then proceeded to give a veiled (nuclear?) threat to Iran, saying that,  All (military) options should be on the table.  Would Washington s top operatives go so far as to engineer or exacerbate an international crisis such as this   by dispatching the boats off course, knowing full-well that Iran would not harm U.S. personnel, but using the incident to injure a lame duck? The answer is  yes , and they ve done it before In 1979, 52 American diplomats and citizens were held hostage for 444 days in what became known as the Iranian Hostage Crisis, which just happened to take place during a US presidential election cycle, with then president Jimmy Carter (D) running for reelection against challenger Ronald Reagan (R). The crisis, including a horrific failed rescue attempt, was used against Carter in the media. According to reports at the time Reagan campaign operatives had managed to do a backdoor deal with the elements of the new Iranian regime to  hold-off  releasing the hostages until after the election. In the end, Reagan won and took credit for that  victory .Not surprisingly, at the end of his prearranged CNN segment, Cotton invoked the  feckless foreign policy  of Jimmy Carter which  caused  the 1979 Iran Hostage Crisis, and compared that to President Obama s current policy.Of all the U.S. Officials CNN could have brought in on  short notice , they chose Senator Tom Cotton, the most hawkish and closest aligned to Israel. Clearly, this looks like a neocon stunt.Stay tuned for more updates.READ MORE IRAN NEWS AT: 21st Century Wire Iran Files'

In [77]:
manual_testing(manual_test.text[23480])

LR Prediction: Fake News
Dt Prediction: Fake News

In [78]:
manual_test.text[21416]

'JAKARTA (Reuters) - Indonesia will buy 11 Sukhoi fighter jets worth $1.14 billion from Russia in exchange for cash and Indonesian commodities, two cabinet ministers said on Tuesday. The Southeast Asian country has pledged to ship up to $570 million worth of commodities in addition to cash to pay for the Suhkoi SU-35 fighter jets, which are expected to be delivered in stages starting in two years. Indonesian Trade Minister Enggartiasto Lukita said in a joint statement with Defence Minister Ryamizard Ryacudu that details of the type and volume of commodities were  still being negotiated . Previously he had said the exports could include palm oil, tea, and coffee. The deal is expected to be finalised soon between Indonesian state trading company PT Perusahaan Perdangangan Indonesia and Russian state conglomerate Rostec. Russia is currently facing a new round of U.S.-imposed trade sanctions. Meanwhile, Southeast Asia s largest economy is trying to promote its palm oil products amid threats of a cut in consumption by European Union countries. Indonesia is also trying to modernize its ageing air force after a string of military aviation accidents. Indonesia, which had a $411 million trade surplus with Russia in 2016, wants to expand bilateral cooperation in tourism, education, energy, technology and aviation among others. '

In [79]:
manual_testing(manual_test.text[21416])

LR Prediction: Not A Fake News
Dt Prediction: Not A Fake News

In [ ]:
tp